<h1><%= @word.text %></h1>

<% if @definitions.any? %>
  <p><em>Click on a definition to edit or delete it.</em></p>
  <ol>
    <% @definitions.each do |definition| %>
      <li>
        <a href="/words/<%= @word.id %>/definitions/<%= definition.id %>">
          <%= definition.text %>
        </a>
      </li>
    <% end %>
  </ol>
<% else %>
  <p>There are currently no definitions for <em><%= @word.text %></em>.</p>
<% end %>

<p><a href="/words/<%= @word.id %>/definitions/new">Add a new definition</a><p>
<p><a href="/words">Return to word list</a></p>
