<h1>Edit definition for <%= @word.text %></h1>

<form action="<%= @definition.id %>/edit_definition" method="post">
  <textarea name="definition_text" class="form-control" type="text large"><%= @definition.text %></textarea>
  <button type="submit" class="btn">SAVE CHANGES</button>
</form>

<form action="<%= @definition.id %>/delete_definition" method="post">
  <button type="submit" class="btn">DELETE DEFINITION</button>
</form>

<p><a href="/words/<%= @word.id %>/definitions">Return to definitions for <%= @word.text %></a></p>
<p><a href="/words">Return to word list</a></p>
